/*подключение шрифтов*/
@import"fonts.css";
/*подключение основных стилей*/
@import "base.css";
/*подключение универсальных стилей*/
@import "typography.css";
/*подключение стилей относящихся к header */
@import "header.css";
/*Подключение стилей относящихся к foother */
@import "footer.css";
/*Подключение стилей относящихся к main */
@import "main.css" ;
@media only screen and (max-width:768px) {
    .page{
        background-color:lightblue;
        font-size:16px;
        padding:10px;
    }
}
@media only screen and (max-width:1024px) {
    .page{
        background-color:lightblue;
        font-size:16px;
        padding:10px;
    }
}
@import "styles/media.css";